<div class="container-bg">
    <h3 id="titU">Comments</h3>
    <div class="row">
        {{#each comment}}
        <div id="users" class="card col-6" style="width: 18rem;">
            <div class="card-body">
   
                <h5 class="card-title">{{username}}</h5>

                <p class="card-text">{{text}}</p>

                <a href="/users/{{id}}" class="btn btn-dark">Ver Perfil</a>

                <hr>
                <div id="editButton">
                    <a href="/users/{{id}}/edit" class="btn btn-ligth">Editar</a>
                    <form action="/comments/{{id}}/delete" method="POST">
                        <button class="btn btn-ligth">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>