<div class="discoverMain">
    <h2 class="display-3 font-weight-bold">{{name}}</h2>
    <hr>
</div>
<div class="presentationMain">
    <div class="row">
        <div class="col-md-7">
            <p id="presentationText">{{text}}
            </p>
            <div class="play">
                <button id="start" class="btn btn-dark mt-5 me-3">Start</button>
                <button id="cancel" class="btn btn-dark mt-5 me-3">Pause</button>
            </div>
            <figure id="player1"></figure>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <img class="presentationArt" src="https://images.metmuseum.org/CRDImages/ad/original/DP167126.jpg"
                alt="First slide">
                       

        </div>
    </div>
    <div class="row">
        
    </div>


</div>
<div class="container imagesGrid">
    <div class="row">
        {{#each artItems}}
        <div class="col-md-4">
            <a href="/collections/{{../collectionId}}/art/{{objectID}}"><img src="{{primaryImageSmall}}" alt=""></a>
        </div>
        {{/each}}
    </div>
</div>



<script src="../../js/youtube.js"></script>
<script src="/js/textToSpeech.js"></script>