<div class="discoverMain">
    <h2 class="display-3 font-weight-bold">{{name}}</h2>
    <hr>
</div>
<div class="presentationMain">
    <div class="row">
        <div class="col-md-5">
            <p id="presentationText">{{text}}
            </p>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
            <img class="presentationArt" src="https://images.metmuseum.org/CRDImages/ad/original/DP167126.jpg"
                alt="First slide">

        </div>
        <div class="play">
            <button id="start" class="btn btn-dark mt-5 me-3">Start</button>
            <button id="cancel" class="btn btn-dark mt-5 me-3">Pause</button>
        </div>

    </div>
</div>
<div class="container imagesGrid">
    <div class="row">
        {{#each artItems}}
        <div class="col-md-4">
            <a href="/collections/{{../collection.id}}/art/{{objectID}}"><img src="{{primaryImageSmall}}" alt=""></a>
        </div>
        {{/each}}
    </div>
</div>




<script src="/js/textToSpeech.js"></script>