<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<video autoplay muted loop id="myVideo">
    <source src="./videos/museum.mp4" type="video/mp4">
</video>
<div class="homeHead">
    <section class="boot-elemant-bg py-md-5 py-4">
        <div class="container position-relative py-md-5 py-0">
            <div class="row">
                <div class="col-lg-8">
                    <h3 class="display-3 font-weight-normal text-white">ESCAPE WITH THE LAMUSSE</h3>
                    <button type="button" class="btn btn-info bookBtn">Book tickets</button>
                </div>
            </div>
        </div>
    </section>
</div>
{{#each collections}}
<section class="boot-elemant-bg py-md-5 py-4 collection" style="background-image: url({{bgImage}});">
    <div class="container position-relative py-md-5 py-0">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="text-white display-3 font-weight-bold">{{title}}</h2>
                <p class="f-w-16 mb-4">{{description}}</p>
                <a href="/collections/{{id}}" class="btn btn-outline-white btn-lg px-4"> See collection </a>
            </div>
        </div>
    </div>
    <div class="elemant-bg-overlay black"></div>
</section>
{{/each}}
<section class="boot-elemant gradient-primary py-md-5 py-4">
    <div class="container position-relative py-md-5 py-0">
        <div class="boot-block pb-md-5 pb-4 text-center">
            <h2 class="display-4 text-white font-weight-bold">Highlighted art</h2>
            <p class="f-w-16 mb-4">some of the most popular works of art </p>
        </div>
        <div class="row">
            {{#each artItems}}
            <div class="col-lg-4">
                <div class="boot-card"><a href="/collections/{{../collection.id}}/art/{{apiId}}"><img src="{{image}}" alt="Image articles" class="img-fluid"></a>
                    <div class="boot-caption py-4 px-3">
                        <h3 class="text-dark  mb-md-2"><a href="/collections/{{../collection.id}}/art/{{apiId}}" class="text-dark">{{title}}</a></h3>
                        <div class="boot-meta">
                            <h4 class="font-weight-normal">Apr 29, 2022<a href="/collections/{{../collection.id}}/art/{{apiId}}" class="text-primary"></a></h4>
                        </div>
                        <p class="f-14 mb-0">{{comments.[0].text}}</p>
                        <p class="f-16 mb-0"></p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<section class="videoLayout">
    <div>
        <h2 class="display-4 font-weight-bold">Artists</h2>
        <p class="f-16 mb-4">Delve into the greatets artist from LAMUSSE </p>
    </div>
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center">
            <figure class="video" id="player1"></figure>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <figure class="video" id="player2"></figure>
        </div>
    </div>
</section>
<script src="../../js/youtube.js"></script>