<form class="row g-3" id="sing-up" action="/users/{{_id}}/edit" method="POST">
    <h3>Edit profile</h3>
    <div class="col-md-4">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" value="{{username}}">
    </div>
    <div class="col-md-4">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" value="{{password}}">
    </div>
    <div class="col-md-4">
        <label for="email" class="form-label">Email</label>
        <div class="input-group">
            <span class="input-group-text" id="email">@</span>
            <input type="email" class="form-control" id="email" name="email" value="{{email}}">
        </div>
    </div>
    <div class="col-md-4">
        <label for="profileImg" class="form-label">Profile image</label>
        <input type="text" class="form-control" id="profileImg" name="profileImg" value="{{profileImg}}">
    </div>
    <div class="col-12">
        <button class="btn btn-dark" type="submit">Update</button>
    </div>
</form>