<div class="container-bg">
    <h3 id="titU">Users</h3>
    <div class="row">
        {{#each user}}
        <div id="users" class="card col-6" style="width: 18rem;">
            <img src="{{profileImg}}" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">{{username}}</h5>
                <p class="card-text">{{email}}</p>
                <p class="card-text">{{role}}</p>
                <p class="card-text">{{favorites}}</p>
                <a href="/users/{{id}}" class="btn btn-dark">View profile</a>
                <hr>
                {{!-- {{#if roleCheck}} --}}
                <div id="editButton">
                    <a href="/users/{{id}}/edit" class="btn btn-ligth">Edit</a>
                    <form action="/users/{{id}}/delete" method="POST">
                        <button class="btn btn-ligth">Delete</button>
                    </form>
                </div>

                {{!-- {{/if}} --}}
            </div>
        </div>
        {{/each}}
    </div>

</div>