<div class="container">
<h1>Item collection</h1>

<p>{{searchParams}}</p>
{{#each artItemDataArr}}
<p>{{title}}</p>
<a href="/art/art{{objectID}}"><img src="{{primaryImageSmall}}" alt=""></a>
<p>image URL: {{primaryImageSmall}}</p>
{{/each}}
{{#each artIds}}
<p>{{this}}</p>

{{/each}}

<form action="/create-collection" method="POST" class="create-collection">
    <input type="text" id="title" placeholder="Título" name="title">
    <input type="text" id="description" placeholder="Descripción" name="description">
    <input type="text" id="bgImage" placeholder="background image" name="bgImage">
    <input type="hidden" id="artIds" name="artItemsList" value={{artIds}}>
    <input type="hidden" id="searchParams" name="searchParams" value={{searchParams}}>
    <button id="createhBtn" type="submit">Create collection</button>
</form>
<p>space</p>
<p>space</p>
<p>space</p>
<p>space</p>
</div>